extends layout

block content
  h1= title
  p Welcome to #{title}
  hr
  
  block chat_window(class="#chat_window")
    each msg in messages
      p= msg

  form(method="POST", action="/")
    input(type="text", name="user_msg", value="")

